<body>
    <div class="logo position-absolute col-2 text-white">
        <h1> !اسنپ</h1>
        <h4>کسب و کار</h4>
    </div>
    <div class="login_box col-5 bg-dark pt-4">
        <div>
            <input type="text" class="col-12 bg-dark text-secondary mt-3" placeholder="نام کاربری"><br>
            <div class="pr-3"> سلام سلام سلام</div>
        </div>
        <div>
            <input type="text" class="col-12 bg-dark text-secondary mt-3" placeholder="نام کاربری"><br>
            <div class="pr-3"> سلام سلام سلام</div>
        </div>
        <div>
            <input type="text" class="col-12 bg-dark text-secondary mt-3" placeholder="نام کاربری"><br>
            <div class="pr-3"> سلام سلام سلام</div>
        </div>
        <div>
            <input type="text" class="col-12 bg-dark text-secondary mt-3" placeholder="نام کاربری"><br>
            <div class="pr-3"> سلام سلام سلام</div>
        </div>
        <div>
            <input type="text" class="col-12 bg-dark text-secondary mt-3" placeholder="نام کاربری"><br>
            <div class="pr-3"> سلام سلام سلام</div>
        </div>
        <button class="btn-header col-12 bg-primary mt-2">سربرگ (کمتر از)</button>
        <h6 class="text-white">نامه‌ای را در سربرگ شرکت با موضوع درخواست پنل سازمانی تهیه نموده و پس از مهر و امضا، تصویر آن را در اینجا آپلود نمایید.</h6>
        <div class="bg-primary"><input type="checkbox" id="vehicle1" name="vehicle1" class="ml-2">
            <label for="vehicle1">قوانین و مقررات اسنب را می پذیرم</label>
        </div>
    </div>
    <div class="row btnlogin"><button class="col-12 bg-secondary text-white">ثبت نام</button></div>
    <div class="xx">
        <div class="col-12 h-25 m-1">
            <a href="" class="text-white">حساب کاربری دارید؟ وارد شوید.</a></div>
        <div class="col-12 h-25 m-1">
            <a href="" class="text-white">سوالات متداول!</a></div>
    </div>
</body>