<body>
    <div class="logo position-absolute col-2 text-white">
        <h1> !اسنپ</h1>
        <h4>کسب و کار</h4>
    </div>
    <div class="login_box position-absolute h-100 col-5 bg-dark pt-4">
        <div>
            <input type="text" class="col-12 bg-dark text-secondary mt-3" placeholder="نام کاربری"><br>
            <div class="pr-3"> سلام سلام سلام</div>
        </div>
        <div>
            <input type="text" class="col-12 bg-dark text-secondary mt-3" placeholder="نام کاربری"><br>
            <div class="pr-3"> سلام سلام سلام</div>
        </div>
        <div>
            <input type="text" class="col-12 bg-dark text-secondary mt-3" placeholder="نام کاربری"><br>
            <div class="pr-3"> سلام سلام سلام</div>
        </div>
        <div>
            <input type="text" class="col-12 bg-dark text-secondary mt-3" placeholder="نام کاربری"><br>
            <div class="pr-3"> سلام سلام سلام</div>
        </div>
        <div>
            <input type="text" class="col-12 bg-dark text-secondary mt-3" placeholder="نام کاربری"><br>
            <div class="pr-3"> سلام سلام سلام</div>
        </div>
        <button>سربرگ (کمتر از)</button>
        <div class="row h-25"><button class="col-12 bg-secondary h-50 text-white">ورود</button></div>
    </div>
    <div class="xx position-absolute">
        <div class="col-12 h-25 m-1">
            <a href="" class="text-white">حساب کاربری دارید؟ وارد شوید.</a></div>
        <div class="col-12 h-25 m-1">
            <a href="" class="text-white">سوالات متداول!</a></div>
    </div>
</body>